.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
/* Style Fancy Text */ 
#fancy_text_hkvw{color:#000; font-size:12px;}
/* Style Google Map */ 
#google_map_g3gw{width:auto;height:500px;border:0px none #ccc;} 
.col_s64z{padding:0; overflow:hidden;}
